#header {
  color: #404040;
}
#header .logo {
  font-size: 3em;
}
#header .navigation {
  font-size: 2em;
}
#header a {
  text-decoration: none;
  color: #c0c0c0;
}
#header a:hover {
  color: maroon;
}
.btn {
  color: #808080;
  font-size: 2em;
  border: 1px solid #000;
  background-color: grey;
}
.btn:hover {
  background-color: #fff;
}
